.notpaste {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}

.App {
  background-color: #191b20;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.container {
  width: 1000px;
  height: 100vh;
  overflow: hidden;
}

.header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #565758;
}

.title {
  position: relative;
  color: white;
  font-size: 23px;
  padding-left: 25px;
  font-weight: 700;
}

.game-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.game-row {
  display: flex;
  justify-content: center;
}

.flippable {
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flipbox {
  position: relative;
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.templatebox {
  position: relative;
  text-align: center;
  font-size: 12px;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-flippable {
  position: relative;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.front-flipbox {
  height: 50px;
  width: 50px;
  background-color: #191b20;
}

.front-templatebox {
  height: 30px;
  width: 30px;
  border: 1px solid #565758;
  background-color: #191b20;
}

.back-flipbox {
  height: 54px;
  width: 54px;
}

.back-templatebox {
  height: 32px;
  width: 32px;
}

.flipbox-wrap {
  display: inline-block;
  position: relative;
  /* flipbox size 54 + pronounce size 15 = nice */
  height: 69px; 
  width: 54px;
  margin: 3px;
  transform-style: preserve-3d;
  transform-origin: center center;
}

.tutorialbox-wrap {
  display: inline-block;
  position: relative;
  /* flipbox size 32 + pronounce size = 10 = 42 */
  height: 42px;
  width: 32px;
  margin: 1px;
  transform-style: preserve-3d;
  transform-origin: center center;
}

.flipbox-pronounce {
  height: 15px;
}

.tutorialbox-pronounce {
  height: 10px;
  font-size: 10px;
}

.flipbox-pronounce-display {
  color: white;
  text-align: center;
  font-weight: 500;
}

.flipbox-pronounce-hint {
  color: grey;
  padding-left: 10%;
  font-weight: 500;
}

.input-box {
  height: 30px;
  width: 100%;
  margin: 3px;
  color: white;
  background-color: #191b20;
  border: 1px solid #191b20;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:focus {
  outline: none !important;
  caret-color: transparent;
  border: 1px solid #191b20;
  background-color: #191b20;
}

.statistic-title {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 10px !important;
}

.statistic-info {
  display: flex;
  justify-content: center;
}

.today-answer {
  font-size: 15px;
  color: rgb(4, 196, 4);
  margin-top: 10px !important; 
  margin-bottom: 5px !important;
}

.statistic-answer {
  font-size: 12px;
  color: rgb(170, 170, 170);
  font-weight: normal;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.statitem-container {
  margin: 8px;
}

.statitem-number {
  font-size: 30px;
}

.statitem-description {
  font-size: 10px;
  font-weight: 500;
}

.no-data {
  display: flex;
  justify-content: center;
  margin-top: 8px !important;
  font-weight: 400;
}

.distribution-container {
  width: 90%;
  height: auto;
  margin-top: 10px;
}

.distribution-row {
  display: flex;
  justify-content: flex-start;
  margin: 2px;
  margin-bottom: 5px;
}

.distribution-guess {
  display: inline-block;
  margin-right: 5px;
  width: 5%;
}

.distribution-bar-container {
  display: inline-block;
  width: 95%;
  justify-content: flex-start;
}

.distribution-bar {
  height: 18px;
  right: 50px;
}

.distribution-number {
  float: right;
  margin-right: 10px;
}

.bottombar-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottombar-seperate {
  border-right: 1px solid white;
}

.nextwordle-title {
  font-size: 12px
}

.nextwordle-time {
  margin-top: 10px;
  font-size: 25px;
}

.SnackbarContainer-top {
  top: 70px !important;
}

.snackbarContainer {
  height: 54px;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.snackbarItem {
  height: 100%;
  width: 200px;
  background-color: white;
  pointer-events: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}

.setting-title {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.setting-item-wrap {
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(73, 73, 73);
}

.setting-item-container {
  float: left;
  display: block;
  width: 80%;
}

.setting-item-title {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 500;
}

.setting-item-description {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  color: grey;
  margin-top: 2px;
  text-align: left;
}

.setting-item-switch {
  float: right;
}

.setting-item-link {
  float: right;
  color: grey;
  padding-right: 10px;
  align-items: center;
}

.setting-item-clickable {
  display: flex;
  align-items: center;
  height: 100%;
  color: blue;
  cursor: pointer;
  margin-top: 5px;
}

.clickable {
  cursor: pointer;
}

.tutorial-intro {
  text-align: left;
  font-weight: 500;
  padding-bottom: 20px;
  padding: 10px;
}

.tutorial-container {
  border-bottom: 1px solid rgb(73, 73, 73);
  margin-bottom: 20px;
}

.tutorial-example-container {
  border-bottom: 1px solid rgb(73, 73, 73);
  margin-bottom: 15px;
}

.tutorial-row {
  padding-bottom: 20px;
}

.tutorial-row-end {
  padding-bottom: 10px;
}

.emoji-container {
  margin-bottom: 20px;
}

.about-container {
  margin-bottom: 20px;
}

.search-input-box {
  height: 50px;
  width: 50%;
  
  color: white;
  background-color: #191b20;
  border: 2px solid #353535;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input-box:focus {
  height: 50px;
  width: 50%;
  
  color: white;
  background-color: #191b20;
  border: 2px solid #000000;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dictionarybox-wrap {
  display: inline-block;
  position: relative;
  /* flipbox size 54 + pronounce size 15 = nice */
  height: 54px; 
  width: 54px;
  margin: 5px;
}

.dictionarybox {
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 54px;
  background-color: #191b20;
  border: 2px solid #9b9b9b;
}

.dictionarytitle {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.dictionary-input-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.dictionary-error {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  color: red;
}

.dictionary-success {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.topbox {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 50%;
}

.leftbox {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 50%;
  height: 50%;
}

.rightbox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
}

.septopbox {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 45%;
}

.sepleftbox {
  position: absolute;
  top: 55%;
  left: 0%;
  width: 45%;
  height: 45%;
}

.seprightbox {
  position: absolute;
  top: 55%;
  left: 55%;
  width: 45%;
  height: 45%;
}

.textbox {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit-container {
  font-size: 9px;
}

.credit-item {
  display: block;
  float: right;
}

.difficulty-list-container {
  height: 100%;
}

.difficulty-button {
  height: 90%;
  width: 100%;
  border-radius: 10px;
  border: 5px solid #9b9b9b;
}

.difficulty-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  font-weight: 700;
}

.difficulty-description {
  position: absolute;
  bottom: 0;
  font-size: 10px;
}

.bigtile-row {
  padding-bottom: 40px;
}

.bigtile-description {
  padding-bottom: 15px;
}

.bigtilebox-text {
  font-size: 50px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigtile-container {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.bigtilebox {
  position: relative;
  height: 100px;
  width: 100px;
}

.bigtile-wrap {
  transform-style: preserve-3d;
  transform-origin: center center;
}

.bigtile-text {
  border: 3px solid #565758;
  background-color: #191b20;
  height: 94px;
  width: 94px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigtile-pronounce {
  position: absolute;
  top: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bigtile-detail {
  color: rgb(172, 172, 172);
  font-size: 12px;
}

.share-message-buttons {
  margin-bottom: 10px !important;
}

.share-button-style {
  margin-top: 5px;
  font-size: 18px;
  width: 85%;
  font-weight: 700;
}

.share-preview-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-text-preview {
  width: 60%;
  line-break: anywhere;
  cursor: pointer;
  font-size: 12px;
  text-align: left;
  white-space: pre-line;;
}

.difficulty-header-label {
  position: absolute;
  top: 15px;
  left: 70px;
  width: 100px;
  font-size: 12px;
  transform: rotate(344deg);
}